﻿/* jslist css
 Author: Mo Harrim - 2016
 jslist Control wrapper div */
input[type=button],input[type=submit]{
  outline:none;
}
div[data-wrapper]{
  display: inline-block;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  clear:both;
  width: 100%
}
/* add controls styles */
/* add box inner wrap div */
div[data-wrapper] div[data-addwrap]{
  display: inline-block;
  clear: both;
  width: 100%
}
/* textbox wrapper div */
div[data-wrapper] div[data-text] {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
  width: 80%
}
/* add button wrapper div */
div[data-wrapper] div[data-button] {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
  width: 20%
}
/* input text box */
input[data-text] {
  padding:10px 4px;
  margin: 0 2px 0 0;
  border: 1px solid #ddd;
  border-radius: 2px;
  font-size: 14px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* add button */
input[data-button] {
  padding:10px 0;
  margin: 0 0 0 5px;
  border: 0 none;
  border-radius: 2px;
  color: #4885ed;
  cursor: pointer;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #eee;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[data-button]:hover {
  background-color: #dedede;
}
/* list (ul & li) styles  */
ul[data-ul] {
  margin: 10px 0; 
  padding: 0px;
  list-style-type: none;
  clear: both;
}
ul[data-ul] li {
  list-style: none;
  font-size:14px;
  font-weight: 400;
  background: #efefef;
  border-radius: 5px;
  color: #4885ed;
  display: inline-block;
  padding: 5px 10px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  float: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}
/* small x (delete) button in the li */
ul[data-ul] li button.delete {
  border: 0 none;
  border-radius: 2px;
  color: #999;
  cursor: pointer;
  padding: 2px 4px;
  margin: 0 0 0 10px;
  font-size: 12px;
  font-weight: 800;
  background-color: #eee;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
}
ul[data-ul] li button.delete:hover {
  color: #e0645c;
}
/* Form Submit Button */
input[data-submit] {
  height: 50px;
  width: 100%;
  border-radius: 2px;
  border: rgba(0,0,0,.3) 0px solid;
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
  margin-bottom: 30px;
  background: #4885ed;
  color: #FFF;
  transition: background .4s;
  cursor: pointer;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
    }
input[data-submit]:hover {
  background: #3d70c7;
}
/* result */
div[data-result] {
  padding:10px 0;
  margin: 0;
  color: #46b98a;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}